*, *::before, *::after {
   box-sizing: border-box;
}

html {
   background-color: #141A26;
   font-size: 10px;
}


/* Main */
main {
   width: 70%;
   height: 100vh;
   margin: 0 auto;
   /* display: grid;
   grid-template-rows: 15rem 1fr;
   align-items: center;
   justify-items: center; */
}

h1 {
   font-family: 'Merriweather', serif;  
   font-size: 4rem;
   text-align: center;
   letter-spacing: 2px;
   word-spacing: 10px;
   line-height: 1.5;
   color: #F2CB05;
}

p {
   font-family: 'Overpass', sans-serif;
   letter-spacing: 1px;
   word-spacing: 5px;
   line-height: 2;
}

a, button, #questions {
   font-family: 'Merriweather', serif;  
   letter-spacing: 1px;
   word-spacing: 5px;
}

p, a, button, #questions {
   border: none;
   font-size: 2.25rem;
   text-align: center;
   color: #C9EBF2;
   text-decoration: none;
}

.title {
   margin-top: 8rem;
   margin-bottom: 5rem;
}

#ready-button {
   width: 70%;
   padding: 1.5rem 5rem;
   justify-self: center;
   background-color: #F28705;
   border-radius: 1rem;
   box-shadow: inset 0 0 5px black,
               0 0 10px #C9EBF2;
}

#ready-button:hover {
   background-color: #F2CB05;
   color: #141A26;
   transition: ease-in-out 1s;
}

#quiz-box {
   display: grid;
   grid-template-rows: auto auto;
   grid-gap: 5rem;
}

.hide {
   display: none;
}

.btn-grid {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   align-items: center;
   margin-bottom: 5rem;
}

.btn {
   width: 30rem;
   padding: 1.5rem 5rem;
   background-color: #F28705;
   border-radius: 1rem;
   box-shadow: inset 0 0 5px black,
   0 0 10px #C9EBF2;
   margin: 1.5rem;
   
}

.btn:hover {
   background-color: #F2CB05;
   color: #141A26;
   transition: ease-in-out 0.25s;
}



/* COLORS */
/* Color Theme Swatches in Hex */
.Hole-in-the-Dramatic-Clouds-1-hex { color: #141A26; }
.abstract-red-shiny-texture-background-3-hex { color: #A60303; }
.Green-Urban-Studio-2-hex { color: #3F730A; }
.shopDisney-2-hex { color: #C9EBF2; }
.shopDisney-3-hex { color: #F2CB05; }
.shopDisney-4-hex { color: #F29F05; }
.shopDisney-5-hex { color: #F28705; }

/* Color Theme Swatches in RGBA */
.Hole-in-the-Dramatic-Clouds-1-rgba { color: rgba(19, 26, 38, 1); }
.abstract-red-shiny-texture-background-3-rgba { color: rgba(165, 3, 3, 1); }
.Green-Urban-Studio-2-rgba { color: rgba(63, 114, 10, 1); }
.shopDisney-2-rgba { color: rgba(201, 234, 242, 1); }
.shopDisney-3-rgba { color: rgba(242, 202, 4, 1); }
.shopDisney-4-rgba { color: rgba(242, 159, 4, 1); }
.shopDisney-5-rgba { color: rgba(242, 135, 4, 1); }


/* FONTS */
/* 
font-family: 'Merriweather', serif;

font-family: 'Overpass', sans-serif;
 */
